<h1> New request to <%= @recipient.name %></h1>

<%= form_for @message do |f| %>
  <%= hidden_field_tag 'recipient_id', @recipient.id %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>